<ul id="sidebarnav">
    <li>
        <a class="waves-effect waves-dark" href="@Url.Action("Index", "Admin")" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Hotels</span></a>
    </li>
    <li>
        <a class="waves-effect waves-dark" href="@Url.Action("Create", "Admin")" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Add Hotels</span></a>
    </li>
    <li>
        <a class="waves-effect waves-dark" href="@Url.Action("BookingDetails", "Admin")" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Today's Booking</span></a>
    </li>
    <li>
        <a class="waves-effect waves-dark" href="@Url.Action("Index", "CancelledBookings")" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Cancel Requests</span></a>
    </li>
</ul>